<ion-menu contentId="home-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opções</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full" id="side-menu-list">
      <ion-item>
        <ion-label>
          <ion-icon size="large" name="home"></ion-icon>
          <h1>Home</h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon size="large" name="person"></ion-icon>
          <h1>Perfil</h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon size="large" name="barbell"></ion-icon>
          <h1>Treinos</h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="warning">
          <ion-icon size="large" name="sparkles"></ion-icon>
          <h1>Prime</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
