<app-side-menu></app-side-menu>
<div class="ion-page" id="workouts-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title slot="start">
        Treinos
      </ion-title>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-grid class="ion-grid-personalized">
      <ion-row>
        <ion-col size="6">
          <ion-card class="secondary-card" button>
            <ion-card-header>
              <ion-card-title class="card-title-2">
                Treinos Concluídos
              </ion-card-title>
              <!-- <ion-card-subtitle>
                verifique os treinos ja concluídos
              </ion-card-subtitle> -->
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="barbell" size="large"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="secondary-card" button routerLink="/treinos/gerenciar">
            <ion-card-header>
              <ion-card-title class="card-title-2">
                Gerenciar Treinos
              </ion-card-title>
              <!-- <ion-card-subtitle>
                Registre um novo treino aqui
              </ion-card-subtitle> -->
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="add" size="large"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="secondary-card">
              <ion-card-header>
                <ion-card-title>
                  Última Sessão
                </ion-card-title>
                <ion-card-subtitle>
                  Sua ùltima sessão de treinamento concluída
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <h1>Treino C - 25/02/2026</h1>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="secondary-card">
              <ion-card-header>
                <ion-card-title>
                  Próxima Sessão
                </ion-card-title>
                <ion-card-subtitle>
                  Sua próxima sessão de treinamento
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <h1>Treino D</h1>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="secondary-card">
              <ion-card-header>
                <ion-card-title>
                  Relatório de Estatísticas
                </ion-card-title>
                <ion-card-subtitle>
                  Suas estatísticas de aproveitamento 
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <!-- Isso vai dentro da tela de estaticticas -->
                  <!-- <ion-row>
        <ion-col>
          <ion-card class="halfcourt-card">
              <img src="assets/images/halfcourt.png" alt="Gráfico halfcourt">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="color_subtitle">
            <p style='color: #A31D1D'>+60%</p>
            <p style='color: #FFB433'>+50%</p>
            <p style='color: #578FCA'>+40%</p>
            <p style='color: #8C8C8C'>-40%</p>
          </ion-card>
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-col>
          <ion-card class="graph-card">
            <ion-card-header>
              <ion-card-title>
                Repetições por Exercício
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <google-chart
                [type]="type"
                [data]="data"
                [columns]="columnNames"
                [options]="options"
                [width]="width"
                [height]="height">
              </google-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> -->
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>